extends ../../layouts/default
include ../../mixins/box-head
block main 
    .container.my-3 
        .row 
            .col-12     
                +box-head(title)
        .row
            each topic in topics
                .col-md-6.mb-3
                    .card
                        img.card-img-top(src=topic.avatar alt=topic.title)
                        .card-body
                            h5.card-title #{topic.title}
                            p.card-text #{topic.description}
                            a.btn.btn-primary(href=`/songs/${topic.slug}`) Xem chi tiết

            